<div class="footer-content">
    <div class="footer-brand">
      <img src="../../assets/Sinefolis_Logo.png" alt="Sinefolis Logo" class="footer-logo">
      <h3><span class="sine">Siné</span><span class="folis">folis</span><br>CINEMAS</h3>
    </div>

    <div class="footer-contact">
      <h4>CONTACT US</h4>
      <ul>
        <li>
          <img src="../../assets/instagram.png" alt="Instagram" class="icon">
          @sinefolis_id
        </li>
        <li>
          <img src="../../assets/wa.png" alt="Phone" class="icon">
          +6281 3477 6005
        </li>
        <li>
          <img src="../../assets/gmail.png" alt="Email" class="icon">
          feedback@sinefolis.co.id
        </li>
      </ul>
    </div>

    <div class="footer-legal">
      <p>
        © 2025 Sinéfolis Cinemas. All rights reserved. This website and its entire content—including but not limited to text, graphics, logos, icons, images, audio clips, video clips, and digital downloads—are the property of Sinéfolis Cinemas or its content suppliers and are protected by international copyright and intellectual property laws. Unauthorized use, reproduction, distribution, or modification of any materials contained on this site is strictly prohibited without prior written consent. All trademarks, service marks, and trade names displayed on this site are proprietary to Sinéfolis Cinemas or their respective owners. Any use of the website is subject to our Terms of Use and Privacy Policy.
      </p>
    </div>
  </div>

<!--
https://www.flaticon.com/free-icon/instagram_3621435?term=instagram&page=1&position=39&origin=search&related_id=3621435
https://www.flaticon.com/free-icon/whatsapp_3670051?term=whatsapp&page=1&position=3&origin=search&related_id=3670051
https://www.flaticon.com/free-icon/gmail_732200?term=mail&page=1&position=9&origin=search&related_id=732200-->
