<button class="navbar-toggler" aria-label="Toggle navigation" aria-expanded="false">
    &#9776; </button>

<div class="navbar_logo">
    <a href="home.html" onclick="event.preventDefault(); navigateTo('home.html')" class="navbar_item logo-link">
        HOME </a>
</div>

<div class="navbar_collapse">
    <div class="navbar_nav">
        <a href="promo.html" onclick="event.preventDefault(); navigateTo('promo.html')" class="navbar_item">PROMOS</a>
        <a href="nowshowing.html" onclick="event.preventDefault(); navigateTo('nowshowing.html')" class="navbar_item">MOVIES</a>
        <a href="cinemas.html" onclick="event.preventDefault(); navigateTo('cinemas.html')" class="navbar_item">CINEMAS</a>
        <a href="feedback.html" onclick="event.preventDefault(); navigateTo('feedback.html')" class="navbar_item">FEEDBACK</a>
    </div>

    <div class="navbar_auth">
        <a href="login.html" onclick="event.preventDefault(); navigateTo('login.html')" class="navbar_item navbar_button login-button">LOGIN</a>
        <a href="signup.html" onclick="event.preventDefault(); navigateTo('signup.html')" class="navbar_item navbar_button signup-button">SIGN UP</a>
    </div>
</div>